@charset "UTF-8";

.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 4rem;
  overflow-x: hidden;
  background: transparent;
}

.naslov {
	margin-left: 35%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.naslov h3{
	
	color:blue;
	font-weight: bold;
}

.card h4{
	
	color:green;
	font-weight: bold;
}

.card {
	
	margin-right: 15%;
	border: solid;
	border-radius: 10px;
	border-color: red; 
}


